DATABASE_URL="prisma+postgres://localhost:51213/?api_key=test"

NEXT_PUBLIC_API_BASE_URL=http://localhost:9000
API_BASE_URL=http://localhost:9000

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="npx auth secret"

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=